<!-- <div fxlayout="row" style="background-color: rgb(59, 119, 240); color: white; font-family: cursive; padding: 10px;">
  <div style="font-size: 30px;">Troca Óleo</div>
  <div style="color: white">A troca de óleo inteligente</div>
  <div class="text-right" fxFlexAlign="end"><a style="color: white; text-decoration: none;" href="">Login</a></div>
</div> -->

<div fxlayout="row" class="header">
  <div class="font-size-30">Troca Óleo</div>
  <div fxlayout="row">
    <div fxFlex="2 0">A troca de óleo inteligente</div>
    <div><a href="auth/login">Login</a></div>
  </div>
</div>

<mat-card>
  <mat-card-title>Proprietários de veículos</mat-card-title>
  <mat-card-content>
    <p>Que tal ter uma nova experiência na próxima troca de óleo do seu veículo?</p>
    <p>Com o Troca Óleo inteligente, você vai poder:</p>
    <ul>
      <li>Fazer cotação de preço</li>
      <li>Agendar a sua troca de óleo</li>
      <li>Esperar a execução da troca de óleo em um ambiente confortável</li>
    </ul>
    <p>Gostou? Então está esperando o que?<br>
      Faça já o seu <a style="text-decoration: none" href="customers/registration">cadastro</a>
      para ter acesso a todas essas comodidades.
    </p>
  </mat-card-content>
</mat-card>

