<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <mat-card>
      <mat-card-title>
        Cotações de Preço
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between end">
          <div>
            <button mat-raised-button (click)="createPriceQuote()" color="primary">Novo</button>
          </div>
          <div>
            <mat-form-field style="width: 100px;" appearance="standard">
              <mat-label>Filtro</mat-label>
              <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
          </ng-container>

          <ng-container matColumnDef="expirationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiração </th>
            <td mat-cell *matCellDef="let element"> {{element.expirationDate}} </td>
          </ng-container>

          <ng-container matColumnDef="serviceName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Serviço </th>
            <td mat-cell *matCellDef="let element"> {{element.serviceName}} </td>
          </ng-container>

          <ng-container matColumnDef="vehicle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Veículo </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Total </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="detalhes">
            <th mat-header-cell *matHeaderCellDef> Detalhes </th>
            <td mat-cell *matCellDef="let element">
              <button (click)="priceQuoteDetail()" mat-icon-button color="primary">
                <mat-icon>search</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="7">
              Não existe cotação de preço cadastrada.
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
          </mat-paginator>

      </mat-card-content>
    </mat-card>

  </div>
</div>
