<div fxlayout="row" fxLayoutAlign="center">
  <mat-card style="max-width: 80%; margin: 10px;">
    <mat-card-title>Cotação de Preço</mat-card-title>
    <mat-card-subtitle>
      Obrigado por utilizar o serviço de cotação de preço.<br>
      A sua cotação de preço foi enviada com sucesso.
      <p>A Troca Óleo irá gerar uma cotação de preço personalizada e logo que possível você poderá<br>
        realizar o agendamento da execução da troca de óleo do seu veículo caso a cotação esteja de acordo com o seu orçamento.</p>

    </mat-card-subtitle>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>
