<div fxlayout="row" class="header">
  <div class="font-size-30"><a href="/">Troca Óleo</a></div>
  <div fxlayout="row">
    <div fxFlex="2 0">A troca de óleo inteligente</div>
    <div></div>
  </div>
</div>

<div fxlayout="row" fxLayoutAlign="center">
  <mat-card style="max-width: 80%; margin: 10px;">
    <mat-card-title>Cadastro</mat-card-title>
    <mat-card-subtitle>
      O primeiro passo foi dado.<br>
      Agora aguarde o contato por e-mail para ter uma nova experiência na troca de óleo de seu(s) velículo(s).
    </mat-card-subtitle>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>
