<div fxlayout="row" fxLayoutAlign="center">
  <mat-card style="max-width: 80%; margin: 10px;">
    <mat-card-title>Cadastro</mat-card-title>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="10">
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-100" appearance="fill">
            <mat-label>* Nome</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-50" appearance="fill">
            <mat-label>* CPF</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-50" appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select>
              <mat-option value="one">Masculino</mat-option>
              <mat-option value="two">Feminino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-20 margin-10" appearance="fill">
            <mat-label>* DDD</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="mat-form-field-30" appearance="fill">
            <mat-label>* Telefone</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-100" appearance="fill">
            <mat-label>* E-mail</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-50" appearance="fill">
            <mat-label>* Senha</mat-label>
            <input type="password" matInput>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <div fxFlex="100%">
          <mat-form-field class="mat-form-field-100" appearance="fill">
            <mat-label>* Endereço</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-100" appearance="fill">
            <mat-label>Complemento</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-100" appearance="fill">
            <mat-label>* Bairro</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="10">
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-100" appearance="fill">
            <mat-label>* Município</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div fxFlex="50%">
          <mat-form-field class="mat-form-field-20 margin-10" appearance="fill">
            <mat-label>* UF</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field class="mat-form-field-30" appearance="fill">
            <mat-label>* CEP</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxlayout="row" fxLayoutAlign="end">
        <button *ngIf="rota === 'customerDetail'" mat-raised-button (click)="returnCustomerList()" color="primary">Voltar</button>
        <button mat-raised-button (click)="updateCustomer()" color="primary">Enviar</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>

